.header {
  background-color: #f8f8f8;
  padding: 20px 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  margin-left: 20px;
}

.navbar a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.navbar a:hover {
  color: #666;
}

@media (max-width: 768px) {
.navbar {
    display: none; /* Hide the navbar initially */
}

.hamburger {
  display: block;
}

.navbar.open {
  display: flex;
  flex-direction: column; 
  position: absolute;
  top: 60px; /* Adjust based on your header height */
  right: 0;  /* Align to the right */
  left: auto; /* Remove the left positioning */
  width: auto; /* Allow the width to be determined by the content */
  background-color: #f8f8f8;
  padding: 15px; /* Add some padding for visual comfort */
}

.navbar.open ul {
  flex-direction: column;
}

.navbar li {
    margin: 10px 0;
}
}

@media (min-width: 769px) {
.hamburger {
    display: none; /* Hide the hamburger menu on larger screens */
}

.navbar { /* Display the regular nav on larger screens */
    display: flex; 
}
}